{% extends 'base.html' %} {% block content %}

<section class="recipe">
  <div class="row flex recipe-wrapper">

    <div class="col s12 m12 l4 xl3 side-bar blue-grey">
      
      <div class="col s12 center-align white-text">
        <h3>Admin</h3>
      </div>
      
      
      <div class="col s12">
        <ul class="side-info white-text">
          <li><span class="icon"><i class="fas fa-book fa-fw"></i></span> <strong>Total Recipes: </strong>{{ total_recipes }}</li>
          <li><span class="icon"><i class="fas fa-leaf fa-fw"></i></span> <strong>Total Vegetarian Recipes: </strong>{{ vegetarian_recipes }}</li>
        </ul>
      </div>
      
      
      <div class="col s12 center-align allergen-info blue lighten-4">
        <h6><span><i class="fas fa-star fa-fw"></i></span> <strong>Most Popular Recipe</strong> <span><i class="fas fa-star fa-fw"></i></span></h6>
        
        <p><strong>{{ top_recipe.recipe_title }}</strong></p>
        <p><strong>Oven Mitt Score: {{ top_recipe.oven_mitt_score}}</strong></p>
        
        <a href="{{ url_for('view_recipe', recipe_id=top_recipe._id) }}" class="btn waves-effect amber accent-2 blue-grey-text text-darken-4"> View Recipe</a>
        
        <a href="{{ url_for('edit_recipe', recipe_id=top_recipe._id) }}" class="btn waves-effect green accent-2 blue-grey-text text-darken-4"> Edit Recipe</a>
        
        <br>
        <br>
      </div>

    </div>



    <div class="col s12 m12 l8 xl9 recipe-content">
      <div class="container">
        <div class="row">
          <div class="col s12 m12 l12 xl6 center-align">
            <h4>Recipes by Heat Rating</h4>
            <p>( 1 = No Heat, 5 = Extremely Spicy)</p>
            <div id="heat_rating" class="center-align"></div>
          </div>

          <div class="col s12 m12 l12 xl6 center-align">
            <h4>Recipes by Main Ingredients</h4>
            <div id="main_ingredient"></div>
          </div>
          
          <div class="col s12  center-align">
            <h4>Recipes By Cook Times</h4>
            <div id="cook_time"></div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>


{% endblock %}



{% block additional_scripts %}

<script type="text/javascript" src="{{ url_for('static', filename='js/data.js') }}"></script>

{% endblock %}