<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>FiCoEa - The World's Cookbook</title>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" type="text/css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/lib/dc.min.css') }}" type="text/css" />
  
  <script type="text/javascript" src="{{ url_for('static', filename='js/lib/d3.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/lib/crossfilter.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/lib/dc.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/lib/queue.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/data.js') }}"></script>
</head>

<body>
  <header>
    <nav>
      {% if "admin" in request.path %}
      <div class="nav-wrapper blue-grey darken-2">
      {% else %}
      <div class="nav-wrapper light-blue darken-2">
      {% endif %}
      
        <div class="container">
          <a href="/" class="brand-logo">FiCoEa
          <a href="#" data-target="mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('recipes') }}">Recipes</a></li>
            <li><a href="{{ url_for('add_recipe') }}">Add Recipe</a></li>
            <li><a href="{{ url_for('admin') }}">Admin</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <ul class="sidenav" id="mobile">
      <li><a href="{{ url_for('home') }}">Home</a></li>
      <li><a href="{{ url_for('recipes') }}">Recipes</a></li>
      <li><a href="{{ url_for('add_recipe') }}">Add Recipe</a></li>
      <li><a href="{{ url_for('admin') }}">Admin</a></li>
    </ul>
  </header>


  <main>
    {% block content %} {% endblock %}
  </main>

  {% if "admin" in request.path %}
  <footer class="page-footer blue-grey darken-2">
  {% else %}
  <footer class="page-footer light-blue darken-2">
  {% endif %}
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">FiCoEa - Find It, Cook It, Eat It</h5>
          <p class="grey-text text-lighten-4">The World's Cookbook</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="{{ url_for('home') }}">Home</a></li>
            <li><a class="grey-text text-lighten-3" href="{{ url_for('recipes') }}">Recipes</a></li>
            <li><a class="grey-text text-lighten-3" href="{{ url_for('add_recipe') }}">Add Recipe</a></li>
            <li><a class="grey-text text-lighten-3" href="{{ url_for('admin') }}">Admin</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container center-align">
        © 2018
      </div>
    </div>
  </footer>
  
  
  {% include "_includes/search-modal.html" %}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="{{ url_for('static', filename='js/lib/jquery.matchHeight.js') }}"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  
  {% block additional_scripts %} {% endblock %}
</body>


</html>
