{% extends 'base.html' %} {% block content %}

<section class="home-hero">
  <div class="slider">
    <div class="fixed-item">
      <div class="container">
        <div class="row">
          <div class="col s12 center">
            <h1>FiCoEa</h1>
            <h2>Find It, Cook It, Eat It</h2>
          </div>
        </div>

        <div class="row">
          <div class="col s12 center">
            <div class="col s12 m6 l6 xl4 offset-xl2">
              <a class="btn-large waves-effect amber accent-2 blue-grey-text text-darken-4"><i class="material-icons left">search</i>Find A Recipe</a>
            </div>


            <div class="col s12 m6 l6 xl4">
              <a class="btn-large waves-effect green accent-2 blue-grey-text text-darken-4"><i class="material-icons left">add</i>Add A Recipe</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ul class="slides">
      <li>
        <img src="{{ url_for('static', filename='img/food-3.jpg')}}">
      </li>
      <li>
        <img src="{{ url_for('static', filename='img/food-2.jpg')}}">
      </li>
      <li>
        <img src="{{ url_for('static', filename='img/food-1.jpg')}}">
      </li>
    </ul>
  </div>
</section>

<section class="top-recipes">
  <div class="container">
    <div class="row">
      <div class="col s12 m8 l6">
        <h3>Check Out Our Top Recipes</h3>
        <p>As Voted By Our Users, if you like a recipe don't forget to +1 that Golden Oven Mitt</p>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m6 l4">
        <div class="box z-depth-3">

          <div class="title valign-wrapper amber accent-2">
            <h4>Recipe Title<span class="mitt"><i><img src="{{ url_for('static', filename='img/mitt-g.png') }}"></i> 20</span></h4>
          </div>

          <div class="info valign-wrapper center-align">
            <span><i class="material-icons icon">schedule</i>&nbsp;&nbsp;<span class="info-text">Prep<br>50min</span></span>
            <span><i class="material-icons icon">schedule</i>&nbsp;&nbsp;<span class="info-text">Cook<br>50min</span></span>
            <span><i class="material-icons icon">people</i>&nbsp;&nbsp;<span class="info-text">Serves<br>4</span></span>
          </div>

          <div class="description">
            <hr>
            <p class="heat orange-text text-darken-4">Heat Rating - <span class="flame"><i class="fas fa-fire"></i> <i class="fas fa-fire"></i> <i class="fas fa-fire"></i></span></p>
            <hr>
            <p class="desc-body">Spicy jalapeno porchetta bresaola brisket beef ribs chicken pork loin. Exercitation turkey pancetta picanha. Velit t-bone ham cow pork belly.</p>
            <a class="btn waves-effect light-blue darken-2 white-text">View Recipe <i class="material-icons right">arrow_right_alt</i></a>
          </div>

          <div class="bottom">
            <p class="allergen center-align red darken-1 white-text">! Contains Allergens !</p>
          </div>
        </div>
      </div>

      <div class="col s12 m6 l4">
        <div class="box z-depth-3">

          <div class="title valign-wrapper amber accent-2">
            <h4>Recipe Title<span class="mitt"><i><img src="{{ url_for('static', filename='img/mitt-g.png') }}"></i> 20</span></h4>
          </div>

          <div class="info valign-wrapper center-align">
            <span><i class="material-icons icon">schedule</i>&nbsp;&nbsp;<span class="info-text">Prep<br>50min</span></span>
            <span><i class="material-icons icon">schedule</i>&nbsp;&nbsp;<span class="info-text">Cook<br>50min</span></span>
            <span><i class="material-icons icon">people</i>&nbsp;&nbsp;<span class="info-text">Serves<br>4</span></span>
          </div>

          <div class="description">
            <hr>
            <p class="heat orange-text text-darken-4">Heat Rating - <span class="flame"><i class="fas fa-fire"></i> <i class="fas fa-fire"></i> <i class="fas fa-fire"></i></span></p>
            <hr>
            <p class="desc-body">Spicy jalapeno porchetta bresaola brisket beef ribs chicken pork loin. Exercitation turkey pancetta picanha. Velit t-bone ham cow pork belly.</p>
            <a class="btn waves-effect light-blue darken-2 white-text">View Recipe <i class="material-icons right">arrow_right_alt</i></a>
          </div>

          <div class="bottom">
            <p class="allergen center-align green darken-1 white-text">No Allergens</p>
          </div>
        </div>
      </div>

      <div class="col s12 m6 l4">
        <div class="box z-depth-3">

          <div class="title valign-wrapper amber accent-2">
            <h4>Recipe Title<span class="mitt"><i><img src="{{ url_for('static', filename='img/mitt-g.png') }}"></i> 20</span></h4>
          </div>

          <div class="info valign-wrapper center-align">
            <span><i class="material-icons icon">schedule</i>&nbsp;&nbsp;<span class="info-text">Prep<br>50min</span></span>
            <span><i class="material-icons icon">schedule</i>&nbsp;&nbsp;<span class="info-text">Cook<br>50min</span></span>
            <span><i class="material-icons icon">people</i>&nbsp;&nbsp;<span class="info-text">Serves<br>4</span></span>
          </div>

          <div class="description">
            <hr>
            <p class="heat orange-text text-darken-4">Heat Rating - <span class="flame"><i class="fas fa-fire"></i> <i class="fas fa-fire"></i> <i class="fas fa-fire"></i></span></p>
            <hr>
            <p class="desc-body">Spicy jalapeno porchetta bresaola brisket beef ribs chicken pork loin. Exercitation turkey pancetta picanha. Velit t-bone ham cow pork belly.</p>
            <a class="btn waves-effect light-blue darken-2 white-text">View Recipe <i class="material-icons right">arrow_right_alt</i></a>
          </div>

          <div class="bottom">
            <p class="allergen center-align red darken-1 white-text">! Contains Allergens !</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

{% endblock %}
