<div class="col s12 m6 l6 xl4">
  <div class="box z-depth-3">

    <div class="title valign-wrapper amber accent-2">
      <h4>{{ recipe.recipe_title }}<span class="mitt"><i><img src="{{ url_for('static', filename='img/mitt-g.png') }}"></i>{% if recipe.oven_mitt_score %} {{ recipe.oven_mitt_score }} {% else %} 0 {% endif %}</span></h4>
    </div>

    <div class="info valign-wrapper center-align">
      <span><i class="material-icons icon">schedule</i>&nbsp;&nbsp;<span class="info-text">Prep<br>
        {% if recipe.prep_time_hr != 0 %}
        {{ recipe.prep_time_hr }}hr&nbsp;
        {% endif %}
        {% if recipe.prep_time_min != 0 %}
        {{ recipe.prep_time_min }}min
        {% endif %}
      </span></span>
      <span><i class="material-icons icon">schedule</i>&nbsp;&nbsp;<span class="info-text">Cook<br>
        {% if recipe.cook_time_hr != 0 %}
        {{ recipe.cook_time_hr }}hr&nbsp;
        {% endif %}
        {% if recipe.cook_time_min != 0 %}
        {{ recipe.cook_time_min }}min
        {% endif %}
      </span></span>
      <span><i class="material-icons icon">people</i>&nbsp;&nbsp;<span class="info-text">Serves<br>{{ recipe.recipe_serves }}</span></span>
    </div>

    <div class="description">
      <hr>
      <p class="heat orange-text text-darken-4">Heat Rating -
        <!-- This will display the heat rating as flame icons. I used a conditional if statement to determine how it would show -->
        <!-- As there are only five different states I went with this method. If there were hundreds for example, I would have to come up with another way of doing the same thing.  -->
        <!-- I would probably use a loop that takes the number and outputs that many red flames -->
        {% if recipe.heat_rating == 1 %}
        <span class="flame">
              <i class="fas fa-fire"></i>
              <i class="fas fa-fire grey-text"></i>
              <i class="fas fa-fire grey-text"></i>
              <i class="fas fa-fire grey-text"></i>
              <i class="fas fa-fire grey-text"></i>
            </span> {% elif recipe.heat_rating == 2 %}
        <span class="flame">
              <i class="fas fa-fire"></i>
              <i class="fas fa-fire"></i>
              <i class="fas fa-fire grey-text"></i>
              <i class="fas fa-fire grey-text"></i>
              <i class="fas fa-fire grey-text"></i>
            </span> {% elif recipe.heat_rating == 3 %}
        <span class="flame">
              <i class="fas fa-fire"></i>
              <i class="fas fa-fire"></i>
              <i class="fas fa-fire"></i>
              <i class="fas fa-fire grey-text"></i>
              <i class="fas fa-fire grey-text"></i>
            </span> {% elif recipe.heat_rating == 4 %}
        <span class="flame">
              <i class="fas fa-fire"></i>
              <i class="fas fa-fire"></i>
              <i class="fas fa-fire"></i>
              <i class="fas fa-fire"></i>
              <i class="fas fa-fire grey-text"></i>
            </span> {% elif recipe.heat_rating == 5 %}
        <span class="flame">
              <i class="fas fa-fire"></i>
              <i class="fas fa-fire"></i>
              <i class="fas fa-fire"></i>
              <i class="fas fa-fire"></i>
              <i class="fas fa-fire"></i>
            </span> {% endif %}
      </p>
      <hr>
      <!-- For a better user experience I have truncated the description to 200 characters, -->
      <!--this give the user a good understanding of what the recipe involves without making the recipe cards text heavy -->
      <p class="desc-body">{{ recipe.recipe_description | truncate(200) }}</p>
      <a href="{{ url_for('view_recipe', recipe_id=recipe._id) }}" class="btn waves-effect light-blue darken-2 white-text">View Recipe <i class="material-icons right">arrow_right_alt</i></a>
    </div>

    <div class="bottom">
      <!-- This is a great first indicator to the user wether the recipe will contain allergens or not. -->
      <!-- They can now go into the recipe knowing to look out for a potential hazard -->
      {% if recipe.main_allergens or recipe.other_allergens %}
      <p class="allergen center-align red darken-1 white-text">! Contains Allergens !</p>
      {% else %}
      <p class="allergen center-align green darken-1 white-text">No Allergens</p>
      {% endif %}
    </div>
  </div>
</div>
      