<!-- SEARCH MODAL -->
<div id="search-modal" class="modal bottom-sheet">
  <div class="modal-content">
    <div class="container">

      <div class="row">
        <div class="col s12">
          <h4>Search</h4>
          <p class="search-info">Use the filters below to refine your search</p>
        </div>
      </div>


      <div class="row">
        <form action="{{ url_for('advanced_search') }}" method="POST" class="col s12">
          <div class="row">

            <div class="col s12 m6 l4 input-field">
              <select id="serves" name="recipe_serves" class="validate">
                <option value="0"  selected>Select Number</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="4">4</option>
                <option value="6">6</option>
                <option value="7">6 +</option>
              </select>
              <label for="serves">Serves</label>
            </div>

            <div class="col s12 m6 l4 input-field">
              <select id="cook_time" name="cook_time_hr">
                <option value="5"  selected>Select Time</option>
                <option value="0">< 1hr</option>
                <option value="1">< 2hr</option>
                <option value="2">< 3hr</option>
                <option value="3">3hr +</option>
              </select>
              <label for="cook_time">Cook Time</label>
            </div>

            <div class="col s12 m6 l4 input-field">
              <select id="main_ingredient" name="main_ingredient">
                <option value="0"  selected>Select Ingredient</option>
                {% for ingredient in main_ingredients %}
                  <option value="{{ingredient.main_ingredient_name}}">{{ ingredient.main_ingredient_name }}</option>
                {% endfor %}
              </select>
              <label for="main_ingredient">Main Ingredient</label>
            </div>

            <div class="col s12">
              <p class="additional-label">Does Not Contain:</p>

              {% for allergen in allergens %}
              <div class="col s6 m4 l3">
                <p>
                  <label for="allergen{{ loop.index }}">
                  <input type="checkbox" id="allergen{{ loop.index }}" name="{{ allergen.main_allergen_name }}" value="no" />
                  <span>{{ allergen.main_allergen_name }}</span>
                  </label>
                </p>
              </div>
              {% endfor %}
            </div>

            <div class="col s12 m6">
              <br>
              <br>
              <div class="switch">
                <label>
                  <p class="additional-label">Vegan Friendly</p>
                  <input type="checkbox" name="vegan" id="vegan">
                  <span class="lever"></span>
                </label for="vegan">
              </div>
            </div>
          </div>
          
          <br>
          <br>
          
          <div class="row">
            <div class="col s12 center-align">
              <button class="btn-large waves-effect amber accent-2 blue-grey-text text-darken-4" type="submit" name="action">View Results</button>
              
              <a  class="btn-large modal-close waves-effect  btn-flat">Cancel</a>
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
