{% extends 'recipes/index.html' %} {% block innerContent %}
<section class="add-edit-form">
  <div class="container">
    <div class="row">
      <div class="col s12 m8 l6">
        <form action="{{ url_for('update_recipe', recipe_id=recipe._id) }}" method="POST" class="col s12" id="add_form">
          <div class="row">
            <div class="col s12 input-field">
              <input id="username" name="submitted_by" type="text" class="validate" required value="{{ recipe.submitted_by }}">
              <label for="username">Username*</label>
              <span class="helper-text" data-error="Username Required" data-success="">Required</span>
            </div>

            <div class="col s12 input-field">
              <input id="recipe_title" name="recipe_title" type="text" class="validate" data-length="70" required value="{{ recipe.recipe_title }}">
              <label for="recipe_title">Recipe Title*</label>
              <span class="helper-text" data-error="Recipe Title Required" data-success="" data-exists=""></span>
            </div>

            <div class="input-field col s12">
              <textarea id="recipe_description" name="recipe_description" class="materialize-textarea validate" required>{{ recipe.recipe_description }}</textarea>
              <label for="recipe_description">Description*</label>
              <span class="helper-text" data-error="Description Required" data-success=""></span>
            </div>
            
            
            <div class="col s12 input-field">
              <select id="people_serves" name="recipe_serves" class="validate">
                {% for i in range(1,6) %}
                {% if i == 3 %}
                {% set i = 4 %}
                {% elif i == 4 %}
                {% set i = 6 %}
                {% elif i == 5 %}
                {% set i = 7 %}
                {% endif %}
                
                
                {% if i == recipe.recipe_serves %}
                <option  value="{{ i }}" selected>{% if i == 7 %}6{% else %}{{ i }}{% endif %}{% if i == 7 %} +{% endif %}</option>
                {% else %}
                <option  value="{{ i }}">{% if i == 7 %}6{% else %}{{ i }}{% endif %}{% if i == 7 %} +{% endif %}</option>
                {% endif %}
                {% endfor %}
              </select>
              <label for="people_serves">Dish Serves <small>(people)</small></label>
            </div>


            <div class="col s6 input-field">
              <input id="prep_time_hr" name="prep_time_hr" type="number" class="validate" required value="{{ recipe.prep_time_hr }}" min="0">
              <label for="prep_time_hr">Prep Time <small>(hr)</small></label>
            </div>

            <div class="col s6 input-field">
              <input id="prep_time_min" name="prep_time_min" type="number" class="validate" required value="{{ recipe.prep_time_min }}" min="0" max="59">
              <label for="prep_time_min">Prep Time <small>(min)</small></label>
            </div>

            <div class="col s6 input-field">
              <input id="cook_time_hr" name="cook_time_hr" type="number" class="validate" required value="{{ recipe.cook_time_hr }}" min="0">
              <label for="cook_time_hr">Cook Time <small>(hr)</small></label>
            </div>

            <div class="col s6 input-field">
              <input id="cook_time_min" name="cook_time_min" type="number" class="validate" required value="{{ recipe.cook_time_min }}" min="0" max="59">
              <label for="cook_time_min">Cook Time <small>(min)</small></label>
            </div>

            <div class="input-field col s12">
              <textarea id="ingredients" name="recipe_ingredients" class="materialize-textarea validate" required>{{ recipe.recipe_ingredients }}</textarea>
              <label for="ingredients">Ingredients*</label>
              <span class="helper-text" data-error="Please Enter Ingredients" data-success="">Enter Ingredients and Quantities</span>
            </div>

            <div class="input-field col s12">
              <textarea id="method" name="recipe_method" class="materialize-textarea validate" required>{{ recipe.recipe_method }}</textarea></textarea>
              <label for="method">Method*</label>
              <span class="helper-text" data-error="Please Enter method" data-success=""></span>
            </div>

            <div class="col s12 input-field">
              <select id="heat_rating" name="heat_rating">
                {% for i in range(1,6) %}
                {% if i == recipe.heat_rating %}
                <option  value="{{ i }}" selected>{{ i }}{% if i == 1 %} - No Heat{% elif i == 5 %} - Extremely Hot{% endif %}</option>
                {% else %}
                <option  value="{{ i }}">{{ i }}{% if i == 1 %} - No Heat{% elif i == 5 %} - Extremely Hot{% endif %}</option>
                {% endif %}
                {% endfor %}
              </select>
              <label for="heat_rating">Heat Rating</label>
            </div>

            <div class="col s12 input-field">
              <input id="main_ingredient" name="main_ingredient" type="text" class="validate" required value="{{ recipe.main_ingredient }}">
              <label for="main_ingredient">Main Ingredient*</label>
              <span class="helper-text" data-error="Main Ingredient Required" data-success=""></span>
            </div>

            <div class="col s12">
              <p class="additional-label">Contains Allergens:</p>

              {% for allergen in allergens %}
              <div class="col s6">
                <p>
                  <label for="allergen{{ loop.index }}">
                  {% if allergen.main_allergen_name in recipe.main_allergens %}
                  <input type="checkbox" id="allergen{{ loop.index }}" name="{{ allergen.main_allergen_name }}"  class="allergen-cb" value="yes" checked/>
                  {% else %}
                  <input type="checkbox" id="allergen{{ loop.index }}" name="{{ allergen.main_allergen_name }}"  class="allergen-cb" value="yes"  />
                  {% endif %}
                  <span>{{ allergen.main_allergen_name }}</span>
                  </label>
                </p>
              </div>
              {% endfor %}

            </div>


            <div class="col s12 input-field">
              <input id="other_allergens" name="other_allergens" type="text" class="validate" value="{{ recipe.other_allergens }}">
              <label for="other_allergens">Other Allergens</label>
            </div>


            <div class="col s12">
              <!-- Switch -->
              <div class="switch">
                <label>
                  <p class="additional-label">Vegetarian Friendly</p>
                  {% if recipe.vegan == "on" %}
                  <input type="checkbox" name="vegan" id="vegan" checked>
                  {% else %}
                  <input type="checkbox" name="vegan" id="vegan">
                  {% endif %}
                  <span class="lever"></span>
                </label for="vegan">
              </div>
            </div>
          </div>
          
          <br>
          <br>
          
          <input hidden id="oven_mitt_score" name="oven_mitt_score" type="text" value="{{ recipe.oven_mitt_score }}">
          
          <div class="row">
            <div class="col s12 center-align">
              <button id="submit" class="btn-large waves-effect green accent-2 blue-grey-text text-darken-4" type="submit">Edit Recipe</button>
            </div>
          </div>
        </form>
      </div><!-- col -->
    </div><!-- row -->
  </div><!-- container -->
</section>

{% endblock %}

{% block additional_scripts %}

<!-- This script will first place all the recipe titles into an array.
It will then listen for a change on the recipe title input field.
If the recipe title (in lower case) matches the users input (inlower case),
it will let the user know by showing an error under the field.

This method brings the data in at page load, which although works,
would need to be improved as the site gets more hits.
I think Ajax could be used to pull the data in as it is being typed.

For this script I have added and and case to the if statement to allow for editing the title 
and putting it back to the original -->
<script>
  $(document).ready(function() {
    var json_titles = {{ titles | safe }};
    var titles = [];
    var thisTitle = "{{ recipe.recipe_title | safe }}";
    for (i in json_titles) {
      var example = json_titles[i];

      for (var key in example) {
        titles.push(example[key].toLowerCase());
      }
    }

    console.log(titles);
    console.log(thisTitle);

    $("#recipe_title").on("keyup", function() {
      console.log($(this).val());
      if (titles.includes($(this).val().toLowerCase()) && $(this).val().toLowerCase() != thisTitle.toLowerCase()) {
        $("#recipe_title").addClass("already-exists");
        $("#recipe_title").nextAll('span:first').attr('data-exists','This Title Already Exists').addClass("already-exists");
        console.log("Found it");
        $("#submit").attr('disabled', 'disabled');
      } else {
        $("#recipe_title").removeClass("already-exists");
        $("#recipe_title").nextAll('span:first').attr('data-exists','').removeClass("already-exists");
        $("#submit").removeAttr('disabled');
      }
      console.log("Changed!!!");
    });
    
    
    $("#add_form").submit(function() {
      $("#add_form").find($(".allergen-cb")).each(function() {
        if( !$(this).is(":checked")) {
          $(this).prop('checked', true);
          $(this).attr('value', "no");
        }
        
      });
    });
    
    
  });
</script>
{% endblock %}