{% extends 'recipes/index.html' %} {% block innerContent %}

<section class="recipe">
  <div class="row flex recipe-wrapper">

    <div class="col s12 m5 l4 xl3 side-bar grey lighten-5">
      {% if recipe.vegan_suitable == "1" %}
      <div class="vegan-bar center-align green lighten-3">
        <h4><span><i class="fas fa-leaf"></i></span>&nbsp;&nbsp;Suitable For Vegans</h4>
      </div>
      {% endif %}
      
      <div class="col s12 center-align">
        <p class="mitt"><i><img src="{{ url_for('static', filename='img/mitt-g.png') }}"></i> {{ recipe.oven_mitt_score }}</p>
      </div>

      <div class="col s12">
        <ul class="side-info">
          <li><span class="icon"><i class="fas fa-user fa-fw"></i></span> <strong>Submitted By: </strong> {{ recipe.submitted_by }}</li>
          <li><span class="icon"><i class="far fa-check-square fa-fw"></i></span> <strong>Main Ingredient: </strong> {{ recipe.main_ingredient }}</li>
          <li><span class="icon"><i class="fas fa-fire fa-fw"></i></span> <strong>Heat Rating: </strong>
            {% if recipe.heat_rating == "1" %}
            <span class="flame ">
              <i class="fas fa-fire orange-text text-darken-4"></i>
              <i class="fas fa-fire grey-text"></i>
              <i class="fas fa-fire grey-text"></i>
              <i class="fas fa-fire grey-text"></i>
              <i class="fas fa-fire grey-text"></i>
            </span>
            {% elif recipe.heat_rating == "2" %}
            <span class="flame">
              <i class="fas fa-fire orange-text text-darken-4"></i>
              <i class="fas fa-fire orange-text text-darken-4"></i>
              <i class="fas fa-fire grey-text"></i>
              <i class="fas fa-fire grey-text"></i>
              <i class="fas fa-fire grey-text"></i>
            </span>
            {% elif recipe.heat_rating == "3" %}
            <span class="flame">
              <i class="fas fa-fire orange-text text-darken-4"></i>
              <i class="fas fa-fire orange-text text-darken-4"></i>
              <i class="fas fa-fire orange-text text-darken-4"></i>
              <i class="fas fa-fire grey-text"></i>
              <i class="fas fa-fire grey-text"></i>
            </span>
            {% elif recipe.heat_rating == "4" %}
            <span class="flame">
              <i class="fas fa-fire orange-text text-darken-4"></i>
              <i class="fas fa-fire orange-text text-darken-4"></i>
              <i class="fas fa-fire orange-text text-darken-4"></i>
              <i class="fas fa-fire orange-text text-darken-4"></i>
              <i class="fas fa-fire grey-text"></i>
            </span>
            {% elif recipe.heat_rating == "5" %}
            <span class="flame">
              <i class="fas fa-fire orange-text text-darken-4"></i>
              <i class="fas fa-fire orange-text text-darken-4"></i>
              <i class="fas fa-fire orange-text text-darken-4"></i>
              <i class="fas fa-fire orange-text text-darken-4"></i>
              <i class="fas fa-fire orange-text text-darken-4"></i>
            </span>
            {% endif %}
          </li>
        </ul>
      </div>

      <div class="col s12">
        <ul class="side-info">
          <li><span class="icon"><i class="fas fa-users fa-fw"></i></span> <strong>Serves: </strong> {{ recipe.recipe_serves }}</li>
          <li><span class="icon"><i class="far fa-clock fa-fw"></i></span> <strong>Prep Time: </strong> {{ recipe.prep_time }}min</li>
          <li><span class="icon"><i class="far fa-clock fa-fw"></i></span> <strong>Cook Time: </strong> {{ recipe.cook_time }}min</li>
        </ul>
      </div>

      <div class="col s12 center-align allergen-info red lighten-3">
        <p><span><i class="fas fa-exclamation-triangle fa-fw"></i></span> <strong>Allergens</strong> <span><i class="fas fa-exclamation-triangle fa-fw"></i></span></p>

        <ul class="allergens">
          {% for allergen in recipe.main_allergens %}
          <li>{{ allergen }}</li>
          {% endfor %}
        </ul>
        
        <p><strong>Other Allergens:</strong></p>
        <p class="other-allergens">{{ recipe.other_allergens }}</p>
      </div>

      <div class="hide-on-small-only">
        <div class="col s12 center-align like-box light-blue lighten-3">
          <h4>Like What You See?</h4>
          <p>Give this recipe the Golden Oven Mitt Seal Of Approval</p>
          <a href="" class="btn-large waves-effect amber accent-4 blue-grey-text text-darken-4 modal-trigger"><img src="{{ url_for('static', filename='img/mitt.png') }}"> +1</a>
        </div>

        <div class="col s12 edit-link">
          <p>Found A Mistake? <a href="{{ url_for('edit_recipe') }}">Edit Recipe</a></p>
        </div>
      </div>
    </div>



    <div class="col s12 m7 l8 xl9 recipe-content">
      <div class="container">
        <div class="row">
          <div class="col s12">
            <h2>{{ recipe.recipe_title }}</h2>
          </div>

          <div class="col s12 recipe-content-description">
            <h3>Description</h3>

            <p>{{ recipe.recipe_description }}</p>
          </div>

          <div class="col s12 recipe-content-ingredients">
            <h3>Ingredients</h3>

            <p>{{ recipe.recipe_ingredients }}</p>
          </div>


          <div class="col s12 recipe-content-method">
            <h3>Method</h3>

            <p>{{ recipe.recipe_method }}</p>
          </div>

          <div class="hide-on-med-and-up">
            <div class="col s12 center-align like-box light-blue lighten-3">
              <h4>Like What You See?</h4>
              <p>Give this recipe the Golden Oven Mitt Seal Of Approval</p>
              <a href="" class="btn-large waves-effect amber accent-4 blue-grey-text text-darken-4 modal-trigger"><img src="{{ url_for('static', filename='img/mitt.png') }}"> +1</a>
            </div>

            <div class="col s12 edit-link">
              <p>Found A Mistake? <a href="{{ url_for('edit_recipe') }}">Edit Recipe</a></p>
            </div>
          </div>


        </div>
      </div>
    </div>

  </div>
</section>

{% endblock %}
